@font-face {
    font-family: neuebit;
    src: url(resources/fonts/Pixel/PPNeueBit-Bold.otf);
}

/* @font-face {
    font-family: mondwest;
    src: url(resources/fonts/Pixel/PPMondwest-Regular.otf);
} */

/* @font-face {
    font-family: pixelVCR;
    src: url(resources/fonts/Pixel/VCRosdNEUE.ttf);
} */

@font-face {
    font-family: offbit;
    src: url(resources/fonts/Pixel/OffBitTrial-Regular.otf);
}

@font-face {
    font-family: brick;
    src: url(resources/fonts/Pixel/NTBrickSans.otf);
}

@font-face {
    font-family: alegreya;
    src: url(resources/fonts/Sans-Serif/AlegreyaSans-Light.ttf);
}

@font-face {
    font-family: opensans-reg;
    src: url(resources/fonts/Sans-Serif/OpenSans_Condensed-Regular.ttf);
}

@font-face {
    font-family: opensans-light;
    src: url(resources/fonts/Sans-Serif/OpenSans_Condensed-Light.ttf);
}

@font-face {
    font-family: garnettblack;
    src: url(resources/fonts/Garnett-Black.ttf);
}

@font-face {
    font-family: garnettbold;
    src: url(resources/fonts/Garnett-Bold.ttf);
}

@font-face {
    font-family: garnettregular;
    src: url(resources/fonts/Garnett-Regular.ttf);
}

@font-face {
    font-family: garnettsemibold;
    src: url(resources/fonts/Garnett-Semibold.ttf);
}

@font-face {
    font-family: ttgro;
    src: url(resources/fonts/tt-alientz-trial-grotesque.otf);
}

@font-face {
    font-family: ttvar;
    src: url(resources/fonts/tt-alientz-trial-var.ttf);
}

@font-face {
    font-family: walvis;
    src: url(resources/fonts/walvis-demo-regular.otf);
}

@font-face {
    font-family: navOut;
    src: url(resources/fonts/Outline/Navada\ Outline\ Demo.otf);
}

::-webkit-scrollbar {
    width: 1rem; /* Adjust the width */
  }
  
  ::-webkit-scrollbar-track {
    background: var(--black3); /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--white1); /* Thumb color */
    border-radius: 6px; /* Rounded corners */
  }

:root {
    --mbti-blue: #3BC9DB;
    --mbti-gold: #ffd43b;
    --mbti-green: #21FC9E;
    --mbti-purple: #DA77F2;

    /* --black1: #12130F; */
    --black1: #030303;
    --black2: #1A1A1B;
    --black3: #272729;

    --white1: #e9e9ea;
}

.mbti-m {
    color: var(--mbti-green);
}

.mbti-b {
    color: var(--mbti-blue);
}

.mbti-t {
    color: var(--mbti-gold);
}

.mbti-i {
    color: var(--mbti-purple);
}

/* NT - PURPLE, NF - GREEN, SJ - BLUE, SP - GOLD */